*~
logs
*.log
node_modules
jspm_packages
bower_components

ionic/node_modules/
ionic/platforms/
ionic/plugins/


.DS_Store*
Thumbs.db


*.zip
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar


*.com
*.class
*.dll
*.exe

.idea

# Mongo files
*.lock
*.0
*.1
*.ns
journal