

@import "bootstrap";
@import "mdb";
@import "ionicons";
//@import "materialize";

//@import "components/sideNav";

// my variables
$myDarkBlue: #1345b7;
$myLightBlue: #1c85ee;

html {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, $myDarkBlue 0%, $myLightBlue 100%);
  background-repeat: no-repeat;
  color: white;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-attachment: fixed;
  font-family: "Lato", "Roboto", "Helvetica Neue", sans-serif;
}

/*.btn-default {
  background-color: #41cd9e;

  &:hover {
    background-color: #41cd9e;
  }
}*/

a {
  color: white;
}

header {
  .logo {
    font-weight: 600;
  }
}

.logo-wrapper {
  background: url("") no-repeat center center;
  background-color: darkgrey;
  background-size: cover;
}

.navbar {
  margin-bottom: 2px;
}

#home {
  h1, h3, h5 {
    font-weight: 100;
  }
  button {
    width: 80%
  }
  .btn {
    padding: 5px 12px;
  }
}

footer {
  nav {
    i {
      font-size: 1.8em;
    }
  }
}
