<!-- Footer -->
    <footer>
      <nav class="navbar navbar-default navbar-fixed-bottom transparent">
        <div class="container">
          <div class="row">
            <div class="col-xs-3 text-xs-center">
              <a ui-sref="app"><i class="icon ion-android-globe"></i><br />Countries</a>
            </div>
            <div class="col-xs-3 text-xs-center">
              <a ui-sref="app.maps"><i class="icon ion-map"></i><br />Maps</a>
            </div>
            <div class="col-xs-3 text-xs-center">
              <a ui-sref="app.wishlist"><i class="icon ion-android-checkbox-outline"></i><br />Wishlist</a>
            </div>
            <div class="col-xs-3 text-xs-center">
              <a data-ng-href="#/stats"><i class="icon ion-stats-bars"></i><br />Stats</a>
            </div>
          </div>
        </div>
      </nav>
    </footer>
<!-- /. Footer -->
