


    <img src="images/og-head.jpg" style="position: absolute; left: -9999px;">

    <header>
    <nav class="navbar navbar-default transparent">
        <div class="container">
          <div class="navbar-header pull-left">
            <a href="#" data-activates="slide-out" class="navbar-brand button-collapse"><i class="icon ion-android-menu"></i></a>
            <a class="navbar-brand waves-effect waves-light logo" ui-sref="app">MapShare</a>
          </div>
      </div>
    </nav>
    </header>
