<section id="addStyle">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div>
          <button class="btn btn-link white"
                  ng-click="vm.setTheme(1)"
                  ng-class="{ active: init.theme == 1 }">
            <i class="ion ion-trophy"></i><br />{{ ::init.messages.countries_style1 }}</button>
          <button class="btn btn-link white"
                  ng-click="vm.setTheme(2)"
                  ng-class="{ active: init.theme == 2 }">
            <i class="ion ion-trophy"></i><br />{{ ::init.messages.countries_style2 }}</button>
          <button class="btn btn-link white"
                  ng-click="vm.setTheme(3)"
                  ng-class="{ active: init.theme == 3 }">
            <i class="ion ion-trophy"></i><br />{{ ::init.messages.countries_style3 }}</button>
        </div>
        <div id="container"></div>
        <div class="fixed-action-btn" style="">
          <a class="btn-floating btn-small" ui-sref="app.finishmap"><i class="fa ion ion-arrow-right-c"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
