<section id="countries">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <ul class="list-group">
          <li class="list-group-item">
              <span class="label bg-primary label-pill pull-xs-right">14</span> Albania
          </li>
          <li class="list-group-item">
              <span class="label bg-primary label-pill pull-xs-right">2</span> Bulgaria
          </li>
          <li class="list-group-item">
              <span class="label bg-primary label-pill pull-xs-right">1</span> Russia
          </li>
      </ul>
      </div>
    </div>
  </div>
</section>
