<section id="countries">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">


        <div ng-repeat="continent in vm.continents">
          <div ng-repeat="country in continent.countries"
               ng-if="vm.checkCountry(country.id)">
            <p>{{ ::country.name }} <small>{{ ::continent.name }}</small></p>
          </div>
        </div>

        <div class="fixed-action-btn" style="">
          <a class="btn-floating btn-small" ui-sref="app.addcountries"><i class="fa ion ion-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
