<section id="feedback">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>You can send us feedback</p>
        <form ng-submit="doFeedback()">
          <div class="md-form">
            <label for="form1" class="">Name</label>
            <input type="text" id="form1" class="form-control">
          </div>
          <div class="md-form">
            <label for="form2" class="">E-mail</label>
            <input type="text" id="form2" class="form-control">
          </div>
          <div class="md-form">
            <label for="form7">Feedback</label>
            <textarea type="text" id="form7" class="materialize-textarea" length="240"></textarea>
          </div>
          <button type="button" class="btn btn-default btn-block waves-effect" onclick="toastr.info('Not so fast...', '', {positionClass: 'toast-bottom-center', timeOut: 1500});">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
