<section id="feedback">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>You can send us feedback</p>
        <form>
          <div class="md-form">
              <label for="form1" class="">Name</label>
              <input type="text" id="form1" class="form-control">
          </div>
          <div class="md-form">
              <label for="form2" class="">E-mail</label>
              <input type="text" id="form2" class="form-control">
          </div>
          <div class="md-form">
              <label for="form7">Feedback</label>
              <textarea type="text" id="form7" class="md-textarea" length="240"></textarea>
          </div>
          <div class="md-form text-right">
            <button type="button" class="btn btn-default">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
