<section id="finishMap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 text-xs-center">
        <div id="container"></div>
        <button class="btn btn-default waves-effect waves-light">{{ ::init.messages.map_share }}</button>
        <button class="btn btn-default waves-effect waves-light"
                ng-click="vm.saveMap()">{{ ::init.messages.map_save }}</button>
        <button class="btn btn-default waves-effect waves-light show-popover"
                data-toggle="popover"
                data-placement="bottom">{{ ::init.messages.map_show }}</button>
      </div>
    </div>
  </div>
</section>
