<section id="finishMap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 text-xs-center">
        <div id="container"></div>
        <button class="btn btn-default waves-effect waves-light">Share map</button>
        <button class="btn btn-default waves-effect waves-light"
                ng-click="vm.saveMap()">Save as PNG</button>
        <button class="btn btn-default waves-effect waves-light show-popover"
                data-toggle="popover"
                data-placement="bottom">Show link</button>
      </div>
    </div>
  </div>
</section>
