<section id="mapDetails">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        This is map details for {{ vm.id }}
        <div id="container"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-xs-center">
        <a class="btn btn-link waves-effect waves-light btn-block white" ui-sref="app.maps">Return back</a>
      </div>
      <div class="col-xs-6 text-xs-center">
         <button class="btn btn-default waves-effect waves-light btn-block" onclick="toastr.info('Not so fast...', '', {positionClass: 'toast-bottom-center', timeOut: 1500});">Share</button>
      </div>
    </div>
  </div>
</section>
