<section id="maps">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-xl-4 col-xl-offset-4 text-xs-center"
           ng-hide="vm.hasMaps">
        <p>{{ ::init.messages.map_nomap }}</p>
      </div>
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-0 col-xl-4 col-xl-offset-0"
           ng-repeat="map in user.maps | orderBy: '-date'"
           ng-show="vm.hasMaps">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view overlay hm-white-slight">
                <a href="" ui-sref="app.mapdetails({id: map.id})"><img src="images/db/chart.png" class="img-fluid" alt=""></a>

            </div>
            <!--/.Card image-->

            <!--Social shares button-->
            <a class="activator btn btn-default btn-rounded"><i class="icon ion-android-share-alt"></i></a>

            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                <h5 class="card-title">{{ map.date | date:'dd.MM.yyyy' }}</h5>
            </div>
            <!--/.Card content-->

            <!--Card reveal-->
            <div class="card-reveal">
                <!--Content-->
                <div class="content text-xs-center">

                    <h4 class="card-title">{{ ::init.messages.map_share }} <i class="fa fa-close"></i></h4>
                    <hr>

                    <!--Social Icons-->
                    <ul class="inline-ul">
                        <li><a class="btn-floating btn-small btn-fb" onclick="toastr.info('Not so fast...', '', {positionClass: 'toast-bottom-center', timeOut: 1500});"><i class="fa fa-facebook"> </i></a></li>
                        <li><a class="btn-floating btn-small btn-tw" onclick="toastr.info('Not so fast...', '', {positionClass: 'toast-bottom-center', timeOut: 1500});"><i class="fa fa-twitter"> </i></a></li>
                        <li><a class="btn-floating btn-small btn-ins" onclick="toastr.info('Not so fast...', '', {positionClass: 'toast-bottom-center', timeOut: 1500});"><i class="fa fa-instagram"> </i></a></li>
                    </ul>

                </div>
                <!--/.Content-->

            </div>
            <!--/.Card reveal-->

        </div>
        <!--/.Card-->
<!--        <div id="container"></div>-->
      </div>
    </div>
  </div>
</section>
