<section id="settings">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 col-xl-4 col-xl-offset-4">
        <p>Settings</p>
        <div class="md-form">
          <label id="name" class="">Your name</label>
          <input type="text" id="name" class="form-control" ng-model="vm.settingsData.name">
        </div>
        <div class="md-form">
          <!--     TODO: Implement Search     -->
          <label id="country" class="">Home country</label>
          <input type="text" id="country" class="form-control" ng-model="vm.settingsData.country">
        </div>
        <p>Choose language</p>
        <input name="language" type="radio" id="radio1" checked ng-click="vm.setLanguage('EN')">
        <label for="radio1">English</label><br />
        <input name="language" type="radio" id="radio2" ng-click="vm.setLanguage('RU')">
        <label for="radio2">Russian</label>

<!--
        <select class="mdb-select">
          <option value="" disabled selected>Choose language</option>
          <option value="1" data-ng-click="alert('PWNED')">English</option>
          <option value="2" onclick="toastr.info('Test mode on :-)', '', {positionClass: 'toast-bottom-center', timeOut: 1500});">Русский</option>
        </select>
        <label>Choose language</label>
-->

      </div>
    </div>
  </div>
</section>
