<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 text-center">
        <p>Countries of the World</p>
        <span class="min-chart" id="chart-sales" data-percent="22"><span class="percent"></span></span>
      </div>
      <div class="col-xs-6 text-center">
        <p>Countries of Europe</p>
        <span class="min-chart" id="chart-sales" data-percent="56"><span class="percent"></span></span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-center">
        <p>Countries of America</p>
        <span class="min-chart" id="chart-sales" data-percent="0"><span class="percent"></span></span>
      </div>
      <div class="col-xs-6 text-center">
        <p>Related to other users</p>
        <span class="min-chart" id="chart-sales" data-percent="100"><span class="percent"></span></span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-center">
        <button class="btn btn-link waves-effect waves-light btn-block white">Configure</button>
      </div>
      <div class="col-xs-6 text-center">
         <button class="btn btn-default waves-effect waves-light btn-block">Share</button>
      </div>
    </div>
  </div>
</section>
