<section id="stats">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 text-xs-center">
        <p>Countries of the World</p>
        <div easypiechart options="options" percent="vm.worldPercent" class="min-chart"><span class="percent">{{ vm.worldPercent }}</span></div>
      </div>
      <div class="col-xs-6 text-xs-center">
        <p>Countries of Europe</p>
        <div easypiechart options="options" percent="vm.europePercent" class="min-chart"><span class="percent">{{ vm.europePercent }}</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 text-xs-center">
        <p>Countries of America</p>
        <div easypiechart options="options" percent="vm.americaPercent" class="min-chart"><span class="percent">{{ vm.americaPercent }}</span></div>
      </div>
      <div class="col-xs-6 text-xs-center">
        <p>Related to other users</p>
        <div easypiechart options="options" percent="vm.usersPercent" class="min-chart"><span class="percent">{{ vm.usersPercent }}</span></div>
      </div>
    </div>
    <div class="row">

<!-- TODO
      <div class="col-xs-6 text-xs-center">
        <button class="btn btn-link waves-effect waves-light btn-block white" onclick="toastr.info('Not so fast...', '', {positionClass: 'toast-bottom-center', timeOut: 1500});">Configure</button>
      </div>
-->
<!-- TODO
      <div class="col-xs-6 col-xs-offset-3 text-xs-center">
         <button class="btn btn-default waves-effect waves-light btn-block" onclick="toastr.info('Not so fast...', '', {positionClass: 'toast-bottom-center', timeOut: 1500});">Share</button>
      </div>
-->
    </div>
  </div>
</section>
