<section id="wishlist">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <p class="text-xs-center white"
           ng-hide="vm.hasWishlist">{{ ::init.messages.wishlist_nowishlist }}</p>
        <ul class="list-group"
            ng-repeat="continent in vm.continents"
            ng-show="vm.hasWishlist">
          <li class="list-group-item"
              ng-hide="vm.wish[country.id]"
              ng-repeat="country in continent.countries"
              ng-if="vm.checkCountry(country.id)">
              <a title="delete wish">
                <span class="tag bg-danger tag-pill float-xs-right"
                      ng-click="vm.justDelete(country.id)">
                  <i class="icon ion-trash-b"></i>
                </span>
              </a>
              <a title="release wish">
                <span class="tag bg-success tag-pill float-xs-right"
                      ng-click="vm.doVisited(country.id)">
                  <i class="icon ion-checkmark"></i>
                </span>
              </a>
              {{ ::country.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
