<section id="wishlist">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item">
              <span class="label bg-primary label-pill pull-xs-right"><a href=""><i class="icon ion-trash-b"></i></a></span> <span class="label bg-success label-pill pull-xs-right"><a href=""><i class="icon ion-checkmark"></i></a></span> Albania
          </li>
          <li class="list-group-item">
              <span class="label bg-primary label-pill pull-xs-right"><a href=""><i class="icon ion-trash-b"></i></a></span> <span class="label bg-success label-pill pull-xs-right"><a href=""><i class="icon ion-checkmark"></i></a></span> Bulgaria
          </li>
          <li class="list-group-item">
              <span class="label bg-primary label-pill pull-xs-right"><a href=""><i class="icon ion-trash-b"></i></a></span> <span class="label bg-success label-pill pull-xs-right"><a href=""><i class="icon ion-checkmark"></i></a></span> Russia
          </li>
      </ul>
        {{ header }}
      </div>
    </div>
  </div>
</section>
